    <html>
        <head>
            <title>Tonya Django Girls blog</title>
        </head>
        <body>
            <div>
                <h1><a href="">Happy Tonya Happy People</a></h1>
            </div>

            <div>
                <p>published: 06.02.2016, 14:40</p>
                <h2><a href="">My first post here at last</a></h2>
                <p>Love me, tender</p>
            </div>

            <div>
                <p>published: 06.02.2016, 14:42</p>
                <h2><a href="">My second post</a></h2>
                <p> Love me sweet.</p>
            </div>
        </body>
    </html>